header {
    background: rgb(2,0,36);
background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 5px;
    margin-bottom: 5px;
}
h1{
    font-size: 30px;
}

.city {
    border: 1px solid black;
    line-height: 2.5;
}